<h1>Create a new Landmark</h1>

<form action='/landmarks' method='POST'>
  <input type='text' placeholder="Enter a Landmark..." id="landmark_name" name='landmark[name]' /><br>
  <input type="text" placeholder="Enter the year it was built..." id="landmark_year_completed" name=landmark[year_completed] />

  <input type='submit' value="Create New Landmark" />
</form>
